<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="MYSQL_USUARIO" value="superpos" />
    <add key="MYSQL_CLAVE" value="7G48dNmufepOd2OI/k9nSw==" />
    <add key="MYSQL_CONEXION" value="Server=192.168.101.172;Port=3307;Connect Timeout=300;Database=superpos;" />
    <add key="MYSQL_ESQUEMA" value="Cuadrador" />
    <add key="SITIO_GUATEFACTURAS" value="\\srvfile\FTP UNISUPERGT\Guatefacturas\" />
    <add key="IDENTIFICADOR_SITIO" value="26532476_" />
  </appSettings>


</configuration>